*{
    margin: 0;
    padding: 0;
    
}
body{
    background-image: url('https://wallpapers.com/images/hd/delicious-food-1584-x-858-picture-8ez2ay3xmzmzpoay.jpg');
    background-size: auto;
    background-repeat: no-repeat;
}

#odin{
    width: 18%;
}
#heade{
    margin:0;
    padding:0;
    text-align: center;
    font-size: 80px;
    color:rgb(129, 155, 149);
}
.container {
    align-items:center; 
    float: left;
  }
.image{
    height:50%;
    width:30%;
    
    float:inline-start;
  }
.capti{
    text-align: center;
}